@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sansita+Swashed:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';  
  background: #1d3557;
}

.first-block {
  padding: 35px;
  width: 100%;
  display: inline-block;
}

.first-block h1 {
  text-align: center;
}

.first-block img {
  border-radius: 50%;
  float: left;
  border: 5px ridge white;
}

.first-block h2 {
  color: #f1faee;
}

.list {
  padding: 35px;
}

.list h2 {
  color: #f1faee;
}

.about {
  float: none;
  margin-left: 20%;
  margin-top: 35px;
}

p.about {
  padding: 35px;
}

h2#personal-info {
  color: #f1faee;
  margin-bottom: 35px;
}

a {
  color:#f1faee;
  text-decoration: none;
}

a:hover {
  color: #a8dadc;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 40px;
  color: #f1faee;
  padding: 20px;
}

.list h2 {
  padding: 35px;
}

.list a {
  margin-left: 35px;  
  margin-bottom: 35px;
  display: block;
}

p {
  font-family: 'Mukta', sans-serif;
  color: #f1faee;
  font-size: 20px;
}

em {
  font-weight: bold;
}

.skills {
  padding: 35px;
}

h2#skills {
  font-size: 32px;
  color: #f1faee;
  margin-bottom: 35px;
  margin-left: 35px;
}

.skills li {
  margin-left: 35px;
}

li {
  font-family: 'Mukta', sans-serif;
  color: #f1faee;
  font-size: 18px;
}

li:nth-child(odd) {
  font-style: italic;
}

li strong {
  font-size: 32px;
}

.html {
  font-size: 30px;
}

.css {
  font-size: 28px;
}

.javascript {
  font-size: 26px;
}

.word {
  font-size: 24px;
}

.excel {
  font-size: 22px;
}

footer {
  padding: 35px;
  background: #e63946;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

footer a:hover {
  color: #a8dadc;
  transition: 0.2s;
}