@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sansita+Swashed:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d3557;
}

a {
  color:#f1faee;
  text-decoration: none;
}

a:hover {
  color: #a8dadc;
}

img {
  margin-top: 30px;
  border-radius: 50%;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 40px;
  color: #f1faee;
  padding: 20px;
}

h2 {
  font-family: 'Mukta', sans-serif;
  font-size: 32px;
  color: #f1faee;
  margin-top: 20px;
  padding: 20px;
}

p {
  font-family: 'Mukta', sans-serif;
  color: #f1faee;
  font-size: 20px;
}

em {
  font-weight: bold;
}

li {
  font-family: 'Mukta', sans-serif;
  color: #f1faee;
  font-size: 18px;
}

li strong {
  font-size: 32px;
}

.html {
  font-size: 30px;
}

.css {
  font-size: 28px;
}

.javascript {
  font-size: 26px;
}

.word {
  font-size: 24px;
}

.excel {
  font-size: 22px;
}

footer {  
  margin-top: 50px;
  background: #e63946;
  width: 100vw;  
  padding: 20px 3%;
  display: flex;
  justify-content: space-between;
}

footer a:hover {
  color: #a8dadc;
  transition: 0.2s;
}